{% extends 'base.html.twig' %}

{% block title %}Locating Data{% endblock %}

{% block body %}
    <div class="container-xl shadow p-3 mb-5 bg-white rounded">
        <form onclick="getOption()" action={{ path('searchFor', {id: profile.id}) }} method="post">
            <p>{{ profile.email }}</p>
            <div class="form-group">
                <select class="form-select mb-3 mt-3" id="selectOption" name="type">
                    <option selected disabled >Select location type</option>
                    {% for key in keys %}
                        <option>{{ key }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" > Location: </span>
                <input type="text" class="form-control" id="place" name="place" aria-describedby="basic-addon3">
            </div>
            <button type="submit" class="btn btn-dark">Search</button>
        </form>

        <div class = "container ">
            {% if stations is not empty %}
                <table class="locations table table-striped table-bordered p-3 mt-5 " id="s_table">
                    <thead id="s_thead">
                    <tr class="table-primary" id="s_tr">
                        <th scope="col">Station</th>
                        <th scope="col">Country Code</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="s_tbody">
                    {% for data in stations %}
                        <tr>
                            {% if data.stationName is not empty %}
                                <td style ="word-break:break-all;"><a class="text-info" href="{{ path('showStations', {stn: data.stationName}) }}">{{ data.stationName }}</a></td>
                                <td>{{ data.countryCode }}</td>
                                <td><a href="{{ path('addStation', {id: profile.id, stn: data.stationName}) }}">Add</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>

    <script type="text/javascript">
        function getOption() {
            selectElement = document.querySelector('#selectOption');
            output = selectElement.value;
            document.querySelector('.input-group-text').textContent = output;
        }
    </script>

{% endblock %}

