{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="container shadow p-3 mb-5 bg-white rounded">
    {% for message in app.flashes('error') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

        <form action={{ path('search') }} method="post">
            <div class="form-group">
                <select class="form-select mb-3 mt-3" id="select" name="type">
                    <option selected >Select location type</option>
                    {% for key in keys %}
                        <option>{{ key }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Location: </span>
                <input type="text" class="form-control" id="place" name="place" aria-describedby="basic-addon3">
            </div>

            <button type="submit" class="btn btn-dark">Search</button>

        </form>

        {% if stations is not empty %}
            <table class="locations table table-striped table-bordered p-3 mt-5" id="s_table">
                <thead id="s_thead">
                <tr class="table-primary" id="s_tr">
                    <th scope="col">Station</th>
{#                    <th scope="col">Country Code</th>#}
                    {% if hasKey['island'] %}
                        <th scope="col">Island</th>
                    {% endif %}
                    {% if hasKey['county'] %}
                        <th scope="col">County</th>
                    {% endif %}
                    {% if hasKey['place'] %}
                        <th scope="col">Place</th>
                    {% endif %}
                    {% if hasKey['hamlet'] %}
                        <th scope="col">Hamlet</th>
                    {% endif %}
                    {% if hasKey['town'] %}
                        <th scope="col">Town</th>
                    {% endif %}
                    {% if hasKey['municipality'] %}
                        <th scope="col">Municipality</th>
                    {% endif %}
                    {% if hasKey['stateDistrict'] %}
                        <th scope="col">State District</th>
                    {% endif %}
                    {% if hasKey['administrative'] %}
                        <th scope="col">Administrative</th>
                    {% endif %}
                    {% if hasKey['state'] %}
                        <th scope="col">State</th>
                    {% endif %}
                    {% if hasKey['village'] %}
                        <th scope="col">Village</th>
                    {% endif %}
                    {% if hasKey['region'] %}
                        <th scope="col">Region</th>
                    {% endif %}
                    {% if hasKey['province'] %}
                        <th scope="col">Province</th>
                    {% endif %}
                    {% if hasKey['city'] %}
                        <th scope="col">City</th>
                    {% endif %}
                    {% if hasKey['locality'] %}
                        <th scope="col">Locality</th>
                    {% endif %}
                    {% if hasKey['postcode'] %}
                        <th scope="col">Postcode</th>
                    {% endif %}
{#                    <th scope="col">Country</th>#}
                </tr>
                </thead>
                <tbody id="s_tbody">
                {% for data in stations %}
                    <tr>
                        {% if data.stationName is not empty %}
                            <td>{{ data.stationName }}</td>
{#                            <td>{{ data.countryCode }}</td>#}
                            {% if hasKey['island'] %}
                                <td>{{ data.island }}</td>
                            {% endif %}
                            {% if hasKey['county'] %}
                                <td>{{ data.county }}</td>
                            {% endif %}
                            {% if hasKey['place'] %}
                                <td>{{ data.place }}</td>
                            {% endif %}
                            {% if hasKey['hamlet'] %}
                                <td>{{ data.hamlet }}</td>
                            {% endif %}
                            {% if hasKey['town'] %}
                                <td>{{ data.town }}</td>
                            {% endif %}
                            {% if hasKey['municipality'] %}
                                <td>{{ data.municipality }}</td>
                            {% endif %}
                            {% if hasKey['stateDistrict'] %}
                                <td>{{ data.stateDistrict }}</td>
                            {% endif %}
                            {% if hasKey['administrative'] %}
                                <td>{{ data.administrative }}</td>
                            {% endif %}
                            {% if hasKey['state'] %}
                                <td>{{ data.state }}</td>
                            {% endif %}
                            {% if hasKey['village'] %}
                                <td>{{ data.village }}</td>
                            {% endif %}
                            {% if hasKey['region'] %}
                                <td>{{ data.region }}</td>
                            {% endif %}
                            {% if hasKey['province'] %}
                                <td>{{ data.province }}</td>
                            {% endif %}
                            {% if hasKey['city'] %}
                                <td>{{ data.city }}</td>
                            {% endif %}
                            {% if hasKey['locality'] %}
                                <td>{{ data.locality }}</td>
                            {% endif %}
                            {% if hasKey['postcode'] %}
                                <td>{{ data.postcode }}</td>
                            {% endif %}
{#                            <td>{{ data.country }}</td>#}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}