{% extends 'base.html.twig' %}

{% block title %}Locating Data{% endblock %}

{% block body %}
    <style>
        select:required:invalid {
            color: #666;
        }
        option[value=""][disabled] {
            display: none;
        }
        option {
            color: #000;
        }
    </style>
    <div class="container-xl shadow p-3 mb-5 bg-white rounded">

        <form onclick="getOption()" action={{ path('search') }} method="post">
            <div class="form-group">
                <select class="form-select mb-3 mt-3" id="selectOption" name="type" required>
                    <option value="" selected disabled >Select location type</option>
                    {% for key in keys %}
                        <option> {{ key }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" > Location: </span>
                <input type="text" class="form-control" id="place" name="place" aria-describedby="basic-addon3">
            </div>

            <button type="submit" class="btn btn-dark">Search</button>

        </form>
        <div class = "container ">
        {% if stations is not empty %}
            <table class="locations table table-striped table-bordered p-3 mt-5 " id="s_table">
                <thead id="s_thead">
                <tr class="table-primary" id="s_tr">
                    <th scope="col">Station</th>
{#                    <th scope="col">Country Code</th>#}
                    {% if hasKey['island'] %}
                        <th scope="col">Island</th>
                    {% endif %}
                    {% if hasKey['county'] %}
                        <th scope="col">County</th>
                    {% endif %}
                    {% if hasKey['place'] %}
                        <th scope="col">Place</th>
                    {% endif %}
                    {% if hasKey['hamlet'] %}
                        <th scope="col">Hamlet</th>
                    {% endif %}
                    {% if hasKey['town'] %}
                        <th scope="col">Town</th>
                    {% endif %}
                    {% if hasKey['municipality'] %}
                        <th scope="col">Municipality</th>
                    {% endif %}
                    {% if hasKey['stateDistrict'] %}
                        <th scope="col">State District</th>
                    {% endif %}
                    {% if hasKey['administrative'] %}
                        <th scope="col">Administrative</th>
                    {% endif %}
                    {% if hasKey['state'] %}
                        <th scope="col">State</th>
                    {% endif %}
                    {% if hasKey['village'] %}
                        <th scope="col">Village</th>
                    {% endif %}
                    {% if hasKey['region'] %}
                        <th scope="col">Region</th>
                    {% endif %}
                    {% if hasKey['province'] %}
                        <th scope="col">Province</th>
                    {% endif %}
                    {% if hasKey['city'] %}
                        <th scope="col">City</th>
                    {% endif %}
                    {% if hasKey['locality'] %}
                        <th scope="col">Locality</th>
                    {% endif %}
                    {% if hasKey['postcode'] %}
                        <th scope="col">Postcode</th>
                    {% endif %}
{#                    <th scope="col">Country</th>#}
                </tr>
                </thead>
                <tbody id="s_tbody">
                {% for data in stations %}
                    <tr>
                        {% if data.stationName is not empty %}
                            <td style ="word-break:break-all;"><a class="text-info" href="{{ path('showStations', {stn: data.stationName}) }}">{{ data.stationName }}</a></td>
{#                            <td>{{ data.countryCode }}</td>#}
                            {% if hasKey['island'] %}
                                <td style ="word-break:break-all;">{{ data.island }}</td>
                            {% endif %}
                            {% if hasKey['county'] %}
                                <td style ="word-break:break-all;">{{ data.county }}</td>
                            {% endif %}
                            {% if hasKey['place'] %}
                                <td style ="word-break:break-all;">{{ data.place }}</td>
                            {% endif %}
                            {% if hasKey['hamlet'] %}
                                <td style ="word-break:break-all;">{{ data.hamlet }}</td>
                            {% endif %}
                            {% if hasKey['town'] %}
                                <td style ="word-break:break-all;">{{ data.town }}</td>
                            {% endif %}
                            {% if hasKey['municipality'] %}
                                <td style ="word-break:break-all;">{{ data.municipality }}</td>
                            {% endif %}
                            {% if hasKey['stateDistrict'] %}
                                <td style ="word-break:break-all;">{{ data.stateDistrict }}</td>
                            {% endif %}
                            {% if hasKey['administrative'] %}
                                <td style ="word-break:break-all;">{{ data.administrative }}</td>
                            {% endif %}
                            {% if hasKey['state'] %}
                                <td style ="word-break:break-all;">{{ data.state }}</td>
                            {% endif %}
                            {% if hasKey['village'] %}
                                <td style ="word-break:break-all;">{{ data.village }}</td>
                            {% endif %}
                            {% if hasKey['region'] %}
                                <td style ="word-break:break-all;">{{ data.region }}</td>
                            {% endif %}
                            {% if hasKey['province'] %}
                                <td style ="word-break:break-all;">{{ data.province }}</td>
                            {% endif %}
                            {% if hasKey['city'] %}
                                <td style ="word-break:break-all;">{{ data.city }}</td>
                            {% endif %}
                            {% if hasKey['locality'] %}
                                <td style ="word-break:break-all;">{{ data.locality }}</td>
                            {% endif %}
                            {% if hasKey['postcode'] %}
                                <td style ="word-break:break-all;">{{ data.postcode }}</td>
                            {% endif %}
{#                            <td>{{ data.country }}</td>#}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>

    </div>

    <script type="text/javascript">
        function getOption() {
            selectElement = document.querySelector('#selectOption');
            output = selectElement.value;
            document.querySelector('.input-group-text').textContent = output;
        }
    </script>
{% endblock %}

