{% extends 'base.html.twig' %}

{% block title %}Station info{% endblock %}

{% block body %}
{% for data in stationdata %}
    <div class="card bg-light mb-3">
        <div class="card-header"><h4>Info about station {{ data.name }}</h4></div>
{% endfor %}

        <div class="card-body">
            <h5>Weatherdata from the past ...</h5>
            {%  if weatherdata is not null %}

                    <table class="locations table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="table-primary">
                            <th scope="col">Datum</th>
                            <th scope="col">Tijd</th>
                            <th scope="col">Tempratuur</th>
                            <th scope="col">Dauwpunt</th>
                            <th scope="col">Station Luchtdruk</th>
                            <th scope="col">Zeeniveau Luchtdruk</th>
                            <th scope="col">Zicht</th>
                            <th scope="col">Windsnelheid</th>
                            <th scope="col">Neerslag</th>
                            <th scope="col">Sneeuwdiepte</th>
                            <th scope="col">VRSHOT</th>
                            <th scope="col">Bewolking</th>
                            <th scope="col">Windrichting</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in weatherdata %}
                        <tr>
                            <td>{{ data.date|date('Y-m-d') }}</td>
                            <td>{{ data.time|date('H:i:s') }}</td>
                            <td>{{ data.temp }}</td>
                            <td>{{ data.dewp }}</td>
                            <td>{{ data.stp }}</td>
                            <td>{{ data.slp }}</td>
                            <td>{{ data.visib }}</td>
                            <td>{{ data.wdsp }}</td>
                            <td>{{ data.prcp }}</td>
                            <td>{{ data.sndp }}</td>
                            <td>{{ data.frshtt }}</td>
                            <td>{{ data.cldc }}</td>
                            <td>{{ data.wnddir }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        {% else %}
        <p> No info </p>
        {% endif %}

        </div>
        <div class="card-body">
            <h5>Information</h5>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td> Country </td>
                    {% for data in geolocdata %}
                        <td>  {%  if data is not null %}{{ data.country }}{% else %} No info {% endif %}</td>
                    {% endfor %}
                </tr>
                {% for data in stationdata %}
                    <tr>

                        <td> Longitude </td>
                        <td> {{ data.longitude }}</td>
                    </tr>
                    <tr>
                        <td> Latitude </td>
                        <td> {{ data.latitude }}</td>
                    </tr>
                    <tr>
                        <td> Elevation </td>
                        <td> {{ data.elevation }}</td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}