{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container shadow p-3 mb-5 bg-white rounded">

        <table class="locations table table-striped table-bordered">
            <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Station</th>
                <th scope="col">Datum</th>
                <th scope="col">Tijd</th>
                <th scope="col">Tempratuur</th>
                <th scope="col">Dauwpunt</th>
                <th scope="col">Station Luchtdruk</th>
                <th scope="col">Zeeniveau Luchtdruk</th>
                <th scope="col">Zicht</th>
                <th scope="col">Windsnelheid</th>
                <th scope="col">Neerslag</th>
                <th scope="col">Sneeuwdiepte</th>
                <th scope="col">VRSHOT</th>
                <th scope="col">Bewolking</th>
                <th scope="col">Windrichting</th>
            </tr>
            </thead>
            <tbody>
            {% for data in weatherdata %}
                <tr>
                    <th scope="row">{{ data.id }}</th>
                    <td>{{ data.stn }}</td>
                    <td>{{ data.date }}</td>
                    <td>{{ data.time }}</td>
                    <td>{{ data.temp }}</td>
                    <td>{{ data.dewp }}</td>
                    <td>{{ data.stp }}</td>
                    <td>{{ data.slp }}</td>
                    <td>{{ data.visib }}</td>
                    <td>{{ data.wdsp }}</td>
                    <td>{{ data.prcp }}</td>
                    <td>{{ data.sndp }}</td>
                    <td>{{ data.frshtt }}</td>
                    <td>{{ data.cldc }}</td>
                    <td>{{ data.wnddir }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
