{% extends 'base.html.twig' %}

{% block title %}Edit
{% endblock %}

{% block body %}

    <table class="locations table table-striped table-bordered table-hover">
        <thead>
        <tr class="table-primary">
            <th scope="col">Email</th>
            <th scope="col">Subscription Type</th>
{#            <th scope="col">Amount</th>#}
{#            <th scope="col">Realtime</th>#}
{#            <th scope="col">Station</th>#}
        </tr>
        </thead>
        <tbody>
{#        {% for user in profile %}#}
            <tr>
                <th scope="row">{{ profile.email }}</th>
                <td>{{ profile.subscription.id }}</td>

{#                <td>{{ info.Subscriptions.amount }}</td>#}
{#                <td>{{ info.Subscriptions.realtime }}</td>#}
{#                <td>{{ info.Subscriptions.station }}</td>#}
            </tr>
{#        {% endfor %}#}
        </tbody>
    </table>

{% endblock %}
