{% extends 'base.html.twig' %}

{% block title %}Edit
{% endblock %}

{% block body %}
{#    {% if profile is not empty %}#}
    <table class="locations table table-striped table-bordered table-hover">
        <thead>
        <tr class="table-primary">
            <th scope="col">Email</th>
            <th scope="col">Subscription Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Realtime</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ profile.email }}</th>
                <td>{{ profile.subscription.id }}</td>
                <td>{{ profile.subscription.amount }}</td>
                <td>{{ profile.subscription.realtime ? 'True' : 'False' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="locations table table-striped table-bordered table-hover">
        <thead class="table-primary">
        <tr>
            <th scope="row">Stations</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% set num = 0 %}
        {% for station in stations %}
            <tr>
                <td> {{ station.station.name }} {% set num = num + 1 %}</td>
                <td>
                    <a class="text-danger" href="{{ path('removeStation', {id: station.id, profile: profile.id}) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        {% for i in 1..profile.subscription.amount - num %}
        <tr>
            <td> ENTER STATION</td>
            <td>
                <a href="{{ path('searchFor', {id: profile.id}) }}">Add</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{#    {% endif %}#}
{% endblock %}
