{% extends 'base.html.twig' %}

{% block title %}Edit
{% endblock %}

{% block body %}

    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Subscription Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Realtime</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ profile.email }}</th>
            <td>{{ profile.subscription.id }}</td>
            <td>{{ profile.subscription.amount }}</td>
            <td>{{ profile.subscription.realtime ? 'True' : 'False' }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Stations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for station in stations %}
                <td> {{ station.station.name }} </td>
            {% endfor %}
            {% for i in 0..stations|length %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}
