{% extends 'base.html.twig' %}

{% block title %}Profiles{% endblock %}

{% block body %}

	<div class="card bg-light mb-3">
		<div class="card-header">
			<h4>All users</h4>
		</div>
		<div class="card-body">

        <div class="ms-auto p-2 mb-3">
            <a class="btn btn-dark" href="/register" role="button">Add Admin</a>
        </div>

			<table class="locations table table-striped table-bordered table-hover">
				<thead>
					<tr class="table-primary">
						<th scope="col">Id</th>
						<th scope="col">Email</th>
						<th scope="col">Subscription type</th>
						<th scope="col">Role</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for profile in profiles %}
						<tr>
							<th scope="row">{{ profile.id }}</th>
							<td>{{ profile.email }}</td>
							<td>{{ profile.subscription.id }}</td>
							<td>{{ profile.roles[0] }}</td>
							<td>
								<a href="{{ path('edit', {id: profile.id}) }}">Edit</a>
								<a class="text-danger" href="{{ path('remove', {id: profile.id}) }}">Remove</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


    <div class="card bg-light mb-3">
		<div class="card-header">
			<h4>Add client</h4>
		</div>
		<div class="card-body">
			<form method="POST" action="{{ path("admin") }}">
				<div class="mb-3">
					<label for="email" class="form-label" id="emaildata">Email address</label>
					<input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="mail">
				</div>
{#				 <div class="mb-3">#}
{#					<label for="exampleInputPassword1" class="form-label">Password</label>#}
{#					<input type="password" class="form-control" id="exampleInputPassword1">#}
{#				</div>#}
                <div class="mb-3">
					<label for="subscription" class="form-label">Choose subscription</label>
                    <select class="form-select" aria-label="Default select example" id="sub" name="sub">
                        {% for sub in subscriptions %}
                        <option onclick="getOption()" id="{{ sub }}" > {{ sub }}</option>
                    	{% endfor %}
				    </select>
                </div>
				<div class="mb-3">
					<label for="subscription" class="form-label">Add stations</label>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station1"  name="station1" aria-describedby="basic-addon3" placeholder="Stationnumber">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station2" name="station2" value = "0" aria-describedby="basic-addon3" >
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station3" name="station3" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station4" name="station4" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station5" name="station5" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station6" name="station6" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station7"  name="station7" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station8" name="station8" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station9" name="station9" value = "0" aria-describedby="basic-addon3">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="station10" name="station10" value = "0" aria-describedby="basic-addon3">
				</div>
				</div>

{#				<div class="mb-3">#}
{#					{% if(selected == 1 or selected == 3) %}#}
{#						<label for="station" class="form-label">Kies Station(s)</label>#}
{#							<select class="form-select" aria-label="Default select example" id="station" name="station1">#}
{#								{% for station in stations %}#}
{#									<option onclick="getOption()" >  {{ station.name }}</option>#}

{#								{% endfor %}#}
{#							</select>#}

{#					{% endif %}#}
{#					{% if(selected == 2) %}#}
{#						<label for="station" class="form-label">Kies Station(s)</label>#}

{#							<select class="form-select" aria-label="Default select example" id="station" name="station1">#}
{#								{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#						{% endfor %}#}
{#							</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station2">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station3">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station4">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station5">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station6">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station7">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station8">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station9">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}
{#						<select class="form-select" aria-label="Default select example" id="station" name="station10">#}
{#							{% for station in stations %}#}
{#								<option onclick="getOption()" > {{ station.name }}</option>#}
{#							{% endfor %}#}
{#						</select>#}


{#					{% endif %}#}
{#				</div>#}
				<button type="submit" class="btn btn-dark" id="resource">Klant toevoegen</button>
			</form>

		</div>
	</div>


	<div class="card bg-light mb-3">
		<div class="card-header">
			<h4>Broken stations</h4>
		</div>
		<div class="card-body">

            <table class="locations table table-striped table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>

{% endblock %}
